.navbar {
  height: 70px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 2rem;
}

.currency {
  font-size: 1.1rem;
  border: none;
  background-color: #003580;
  color: #fff;
  margin-right: 1em;

  cursor: pointer;
}

.currencyText {
  position: relative;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.currencyText::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: #000 #0000 #0000 #0000;
}

.currency:hover .currencyText {
  font-size: 1.7rem;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  bottom: -130%;
  visibility: visible;
  opacity: 1;
}

.queButton {
  border-radius: 50%;
  font-size: 1.2rem;
  margin-right: 1em;
  outline: none;
  color: #fff;

  background-color: #003580;
}
.queButton:hover {
  background-color: aqua;
  font-size: 1.7rem;
}

.inputButton {
  font-size: 1em;
  padding: 7px;
  margin-top: 1em;
  border-radius: 1px;
  background-color: #003580;
  border: 1px solid white;
  color: #fff;
  width: fit-content;
  cursor: pointer;
}
.inputButton::placeholder {
  color: white;
}
.inputButton:hover,
.navButton:hover {
  background-color: aqua;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 7px;
  cursor: pointer;
  color: #003580;
}
